<template>
  <require from="./about.css"></require>
  <section class="about au-animate">
    <h2>
      <i class="fa fa-info-circle"></i>
      About
    </h2>
    <form>
      <div class="form-group">
        <label>Created By
        </label><br/>
        Matt Duffield
      </div>
      <div class="form-group">
        <label>Blog
        </label><br/>
        <a href="mattduffield.wordpress.com">
          mattduffield.wordpress.com
        </a>
      </div>
      <div class="form-group">
        <label>FrontEnd Creator
        </label><br/>
        <a href="http://frontendcreator.com">
        http://frontendcreator.com
        </a>
      </div>
      <div class="form-group">
        <label>Training
        </label><br/>
        If your company is interested in onsite training on JavaScript, ES6/ES7, AureliaJS, NodeJS, C# or other technologies, please email <a href="mailto:support@frontendcreator.com?Subject=Training">support@frontendcreator.com</a> for details about classes and custom content we offer.
      </div>
    </form>
  </section>
</template>